@import url(../reindeer/legacy-styles.css);

.menuTree-style {
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	width: 100%
}

.v-tree-node span {
	padding: 5px;
	width: 100%;
	border: thin;
	background-color: #B3AFAF;
	text-align: center
}

.v-tree-node-caption {
	margin-left: 1px;
	margin-right: 1px;
}

.v-tree-node-selected {
	padding: 5px;
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-weight: bold;
	background-image: none;
	background-color: blue;
}


.v-tree-node-focused {
	font-size: 14px;
	font-weight: bold;
}

.Header-Style {
	height: 66px;
	background-color: white;

	}
.Menu-Style {
	background-color: lightGoldenRodYellow;
}


.v-captiontext {
    text-align: center;
    color: lightSlateGray;
    overflow: hidden;
    vertical-align: middle;
    text-decoration: underline;
    font-size: 14px;
    float: none;
     
}