<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>LaserDB Web Application</display-name>
	<context-param>
		<description>Vaadin production mode</description>
		<param-name>productionMode</param-name>
		<param-value>false</param-value>
	</context-param>

	<!-- Roles -->
<!-- 	<security-role> -->
<!-- 		<description>Administrators</description> -->
<!-- 		<role-name>admin</role-name> -->
<!-- 	</security-role> -->
<!-- 	<security-role> -->
<!-- 		<description>Management</description> -->
<!-- 		<role-name>mgmt</role-name> -->
<!-- 	</security-role> -->
<!-- 	<security-role> -->
<!-- 		<description>Test</description> -->
<!-- 		<role-name>test</role-name> -->
<!-- 	</security-role> -->
	<security-constraint>
		<display-name>SecureApplicationConstraint</display-name>
		<web-resource-collection>
			<web-resource-name>Vaadin application</web-resource-name>
			<description>The entire Vaadin application is protected</description>
			<url-pattern>/app/*</url-pattern>
		</web-resource-collection>
	</security-constraint>

</web-app>
